# Bootstrap
/app/bootstrap*

# Symfony directories
web/bundles/*
!web/bundles/theme/
web/css/*
web/js/*
web/media/*
web/uploads/*
app/logs/*
app/cache/*
vendor/*

# Configuration files
app/config/parameters.yml