{% extends '::base.html.twig' %}

{% block body -%}
    
    <div class="inner-content">

		<h1>Recipe edit</h1>

		<div class="td-form">

			<div class="up-triangle"></div>
			
			{{ form(edit_form) }}
		
		</div>

	</div>

{% endblock %}
