{% extends '::base.html.twig' %}

{% block body -%}
    
    <div class="inner-content">

        <ul class="recipes-list">
        {% for recipe in recipes %}

            <li class="recipe-entry td-wrap td-show">

                <figure class="cocktail-img">
                    <a href="{{ path('recipe_show', { 'slug': recipe.slug }) }}"><img src="{{ asset(recipe.getWebPath) | imagine_filter('cocktail_view') }}"/></a>
                    <h2><a href="{{ path('recipe_show', { 'slug': recipe.slug }) }}">{{ recipe.name }}</a></h2>
                </figure>

            </li>

        {% endfor %}
        </ul>

    </div>
{% endblock %}
