{% extends '::base.html.twig' %}

{% block body -%}
    
    <div class="inner-content">

        <div class="td-wrap td-show">
        
        	<p>Welcome</p>

        	<ul>
        		{% for recipe in recipes %}
        			{{ recipe }}
        		{% endfor %}
        	</ul>        	

        </div>

    </div>
{% endblock %}
