{% extends '::base.html.twig' %}

{% block body %}

	<div class="inner-content">

		<h1>Dashboard</h1>

        <div class="td-wrap td-show">
    				
			Hello

    	</div>

    </div>

{% endblock %}