::selection { background-color: #899E79; color: #fff }

.inner-content{ max-width: 600px; margin: auto;  }
.inner-content h1{ margin-bottom: 1em; color: #777; text-shadow: 1px 1px #fff; }
h2.logo{ text-align: center; font-family: Great Vibes; font-size: 30px }

/** Select2 dropdown **/

.search-item h4{ font-size: 14px; margin: 0; padding: 0; }
.select2-highlighted .search-item h4{ color: #fff; }

/** Form **/

.td-wrap { background: #fff; border-radius: 5px; border: 1px solid #ccc; -webkit-box-shadow: 0 0 1em #ddd; box-shadow: 0 0 1em #ddd; position: relative; margin-bottom: 30px }
.td-wrap.td-form:after { content: ""; width: 0; height: 0; position: absolute; bottom: 100%; left: 15px; border-width: 0 8px 8px 8px; border-style: solid; border-color: #fff transparent }
.td-wrap.td-form:before { content: ""; width: 0; height: 0; position: absolute; bottom: 100%; left: 13px; border-width: 0 10px 10px 10px; border-style: solid; border-color: rgba(0,0,0,0.15) transparent }

.td-wrap h5{ margin: 0 20px 10px; }

.td-form .formRow{ padding: 20px; border-top:1px solid #fff; border-bottom:1px solid #eee; background: #ffffff; /* Old browsers */ background: -moz-linear-gradient(top,  #ffffff 70%, #f9f9f9 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #ffffff 70%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #ffffff 70%,#f9f9f9 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #ffffff 70%,#f9f9f9 100%); /* IE10+ */ background: linear-gradient(to bottom,  #ffffff 70%,#f9f9f9 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */ }
.td-form .formRow:first-child{ border-top-left-radius: 5px; border-top-right-radius: 5px }
.td-form .formRow:last-child{ border-bottom-left-radius: 5px; border-bottom-right-radius: 5px }
.td-form .formRow .input-label{ margin-bottom: 0.5em }
.td-form .display-none{ display: none; }

.td-form .nested-row{ background: rgb(119, 150, 151) }
.td-form .nested-row li{ list-style: none; padding: 20px; margin-bottom: 0; border-bottom: 1px solid rgb(114, 142, 143); border-top:1px solid rgb(132, 164, 165); position: relative; }
.td-form .nested-row li:first-child{ border-top: none }
.td-form .nested-row li:last-child{ border-bottom: none }
.td-form .nested-row li .formRow{ background: none; padding: 0; border:none; margin-bottom: 0.5em }
.td-form .nested-row li label{ color: #fff }

.td-form .submit{ padding: 10px; background: #e5e5e5; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top:1px solid #ccc; box-shadow: 0 3px 0.5em #ccc inset }
.td-form .delete{ position: absolute; bottom: 10px; right: 10px }
.td-form .delete .submit{ padding: 0; background: none; border:none }
.td-form label{ font-family: 'Open Sans'; font-size: 14px }
.td-form input[type="text"], .td-form input[type="password"], .td-form textarea{ padding:7px; border:1px solid #ccc; border-radius: 3px; font-size: 12px; color:#bbb; box-shadow: 0 0 6px #eee inset; display: inline; width: 100%; font-family: Open Sans }
.td-form textarea{ min-height: 100px }
.td-form .input-wrapper{ float: left; margin-right: 10px; text-align: center; }
.td-form .add-item{ text-align: center; }
.td-form .remove-row{ text-align: right; margin-bottom: 0 }

.record_actions li{ float: left; list-style: none; margin-right: 10px }

/* Errors */
.td-form .formRow .error{ margin-top: 0.5em }
.td-form .formRow .error li{ list-style: none; color:#E80000; background: url(../images/lists/stop_16.png) no-repeat left center; padding-left: 25px; }


/** Show **/

.td-show{ background: #f9f9f9 }
.td-show .separator{ border-top:1px solid #eee; border-bottom: 1px solid #fff; margin:1em 0 }
.td-show .separator.nomarginbottom{ margin-bottom: 0 }
.td-show .separator.nomargintop{ margin-top: 0 }
.td-show h1{ font-family: Great Vibes; font-size: 44px; text-align: center; margin: 0.6em 0 0.4em 0; font-weight: normal; }

.actions-buttons .action{ float: left; width: 33.3%; text-align: center; border-right:1px solid #eee; border-left:1px solid #fff; background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 20%, #f9f9f9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 20%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 20%,#f9f9f9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 20%,#f9f9f9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 20%,#f9f9f9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
 }
.actions-buttons .action:first-child{ border-left: none; border-bottom-left-radius: 5px }
.actions-buttons .action:last-child{ border-right: none; border-bottom-right-radius: 5px }
.actions-buttons .action a{ display: block; font-size: 16px; color:#888; padding: 15px 0; text-shadow:1px 1px #fff; text-align: center; }
.actions-buttons .action a img{ display: inline }

/** Recipes **/

.td-form .recipe-title{ margin-top: 1em }
.td-form .recipe-title input{ border: none; -webkit-box-shadow: none; box-shadow: none; font-family: Great Vibes; width: 100%; text-align: center; font-size: 40px; text-shadow:1px 1px #eee; }
.td-form .recipe-title input::-webkit-input-placeholder { color:#eee; }
.td-form .recipe-title input::-moz-placeholder { color:#eee; text-shadow:none; } /* firefox 19+ */
.td-form .recipe-title input:-ms-input-placeholder { color:#eee; text-shadow:none; } /* ie */
.td-form .recipe-title input:-moz-placeholder { color:#eee; text-shadow:none; }
.td-form .recipe-title input:hover{ color:#333 }

.td-form .ingredient-form{ margin-left: 50px }
.td-form .ingredient-number{ position: absolute; left: 15px; top: 20px; font-family: Great Vibes; font-size: 30px; color:rgb(168, 191, 192); text-shadow: 1px 1px rgb(97, 125, 126) }

.cocktail-img img{ max-width: 100%; border-top-left-radius: 5px; border-top-right-radius: 5px }
.cocktail-img{ margin-bottom: 1em }
.cocktail-desc{ padding: 0 20px 20px }
.cocktail-desc .howto{ float: left; width:35%; }
.cocktail-desc .text{ float: left; width:65%; }
.cocktail-desc p{ font-family: Lato; font-size: 16px; text-align: justify; margin-bottom: 0; }

.cocktail-ingredients ul{ margin: 0; padding: 0; }
.cocktail-ingredients .ingredient{ border-bottom:1px solid #A4BE91; border-top:1px solid #BFDDA9; list-style: none; padding: 1em 0; margin-bottom: 0; background: #ADC999 }
.cocktail-ingredients .ingredient:last-child{ border-bottom: none }
.cocktail-ingredients .ingredient .number{ float: left; width:13%; text-align: center; font-size: 24px; color:#fff; font-family: Great Vibes }
.cocktail-ingredients .ingredient .info{ float: left; width:87%; }
.cocktail-ingredients .ingredient .info span{ margin: 0; padding: 0; font-family: Open Sans; float: left; font-size: 16px }
.cocktail-ingredients .ingredient .info span.proportion{ width:20%; color:#666; }
.cocktail-ingredients .ingredient .info span.ingredient-name{ color:#fff }

/* Recipes list */

.recipe-entry{ list-style:none; position: relative; }
.recipe-entry figure{ margin-bottom: 0 }
.recipe-entry figure img{ display: block }
.recipe-entry figure h2{ position: absolute; bottom: 0; left:0; right:0; background: rgba(0,0,0,0.5); padding: 0; margin: 0; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px }
.recipe-entry figure h2 a{ color:#fff; padding: 10px; display: block; }

/**	Desktop **/
@media (min-width: 700px) and (orientation: landscape)
{
	.td-form .formRow .input-label{
		float: left;
		width: 23%;
		margin-right: 10%;
		margin-bottom: 0
	}

	.td-form .formRow .input-value{
		float: left;
		width: 67%;
	}
}