{% extends '::base.html.twig' %}

{% block body -%}
    
	<div class="inner-content">

		<h1>Ingredient creation</h1>

		<div class="td-form">

			<div class="up-triangle"></div>
			
			{{ form(form) }}
		
		</div>

	</div>

{% endblock %}
